.message{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    justify-content: space-between;
    margin: 15px;
}

.message > p {
    background-color: #f5d287e3;
    font-size: medium;
    padding: 15px;
    border-radius: 20px;
    margin:10px;
    margin-right: auto;
}
.message > small {
    color: rgb(26, 105, 23);
    position: absolute;
    font-size: 10px;
    bottom: -5px;
    right: 0;
}

.message_sender{
    margin-left: auto;

}


.message_sender > .message_photo {
    margin: 15px;
    order: 1;
}
.message_photo {
    
    order: 0;
}

.message_sender > p{
    background-color: #309deb;
    color: white;

}
