.login{

    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}


.login > div > img {

    object-fit: contain;
    height: 250px;
}
.login > div > h1{
    display: grid;
    justify-content: center;
    align-items:center ;
}


.login > button {
    width: 300px;
    background-color: lightsalmon;
    color: #f5f5f5;
    font-weight: 800;
}

.login > button:hover {
    background-color: gainsboro;
    color: lightsalmon;
}